* {
	margin:  0;
	padding:  0;
}

.wrapper{
	margin: 30px;
	display: grid;
	grid-row-gap: 20px;
}
.wrapper .header{
	/* grid-column: 1/4; */
}
.wrapper .main{
	background-color: #FBFCFD;
}
.wrapper .main section{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}